body {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

/* Navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

.nav-link:hover {
    color: #fe424d !important;
}

/* Mobile view */
@media (max-width: 600px) {
  .f-info {
    flex-direction: column;
    text-align: center;
  }
  
  .f-info-links {
    margin-top: 10px;
  }
}

/* Footer */
footer {
  background: #111;
  color: #fff;
  padding: 20px 10px;
}

.f-info {
  display: flex;
  flex-wrap: wrap; /* mobile ke liye stack ho sake */
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-align: center;
}

.f-info-socials a {
  color: #fff;
  margin: 0 8px;
  font-size: 22px;
  transition: color 0.3s ease;
}

.f-info-socials a:hover {
  color: #1da1f2;
}

.f-info-links a {
  margin: 0 10px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s ease;
}

.f-info-links a:hover {
  color: #fff;
}

/* Mobile view */
@media (max-width: 600px) {
  .f-info {
    flex-direction: column;
    text-align: center;
  }
  
  .f-info-links {
    margin-top: 10px;
  }
}


  /* Cards */
  listing.card {
    border: none !important;
    margin-bottom: 2rem;
  }

  .card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
  }

  .card-body {
    padding: 0 !important;
  }

  .card-text {
    font-weight: 400 !important;
  }

  .listing-link {
    text-decoration: none;
  }

  /* Card Effect */
  .card-img-overlay {
    opacity: 0;
  }

  .card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
  }

  /* New Page */

  .add-btn {
    background-color:#fe424d !important;
    border: none !important;
  }
  
  /* Edit Page */
  .edit-btn {
    background-color:#fe424d !important;
    border: none !important;
  }

  /* Show Page */
  .show-img {
    height: 30vh;
  }

  .btns {
    display: flex;
  }

  .show-card {
    padding-left: 0;
    padding-right: 0;
  }

/* Map */
  #map { 
   height: 400px;
   width: 80vh; 
  } 